@import "tailwindcss";

@theme {
  /* Custom Fonts */
  --font-poppins: "Poppins", "sans-serif";
  --font-bebas: "Bebas Neue", "cursive";

  /* Custom Colors */
  --color-primary: #0077b6;
  --color-secondary: #90e0ef;
  --color-accent: #ade8f4;
  --color-dark: #0d1b2a;
  --color-light: #e0e1dd;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
  -webkit-text-fill-color: #ebe7e1 !important;
  caret-color: #ebe7e1;
  transition: background-color 5000s ease-in-out 0s;
}
